/* Custom dropdown animations */
.dropdown-enter {
    opacity: 0;
    transform: translateY(-10px);
  }
  .dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
  }
  .dropdown-exit {
    opacity: 1;
  }
  .dropdown-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s ease-in;
  }
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .fade-in {
    animation: fadeIn 0.2s ease-out forwards;
  }
/* header.component.css */
/* Styles pour l'avatar dans le header */
app-avatar {
  display: block;
  transition: all 0.2s ease;
}

/* Style pour le conteneur de l'avatar */
.avatar-header-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style pour l'image ou les initiales */
.avatar-header-image, 
.avatar-header-initials {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px; /* Taille du texte pour les initiales */
  font-weight: 600;
}

/* Effet hover */
.avatar-header-container:hover {
  transform: scale(1.05);
}